<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
    <h1>王亚如简历</h1>
    <hr>
    <h3>个人信息</h3>
    <table border="0">
        <tr>
            <td >姓名：王亚如</td>
            <td>年龄：20</td>
        </tr>
        <tr>
            <td>学校：陕西科技大学</td>
            <td>专业：软件数学</td>
        </tr>
        <tr>
            <td>github:  </td>
            <td>CSDN:</td>
        </tr>
    </table>
    <hr>
    <h3>专业技能</h3>
    <ul>
        <li>熟悉java多线程让程序休眠</li>
        <li>精通数据库仓库跑路</li>
        <li>精通Linux删硬盘跑路</li>
        <li>.........</li>
    </ul>
    <hr>
    <h3>项目经历</h3>
    <div>
        <h5>项目名称：个人博客</h5>
        <h6>项目简介:xxx</h6>
        <h6>开发环境：Maven,IDEA,Windows</h6>
        <h6>技术栈：Servlet,MySQL,Jackson,UEditor</h6>
        <h6>项目描述：</h6>
        <ul>
            <li>使用xx技术实现了xx功能</li>
            <li>使用xx技术实现了xx功能</li>
            <li>使用xx技术实现了xx功能</li>
        </ul>
    </div>

</body>
</html>